{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
  <h1>Категории</h1>
  <a href="{% url 'category_new' %}">
    {% bootstrap_button button_type="submit" content="Добавить новую категорию" %}
  </a>
  <ul>
    {% for category in categories %}
      <li>
        {{ category.name }}
        <a href="{% url 'category_edit' category.pk %}">
          {% bootstrap_button button_type="submit" content="Редактировать" %}
        </a>
        <a href="{% url 'category_delete' category.pk %}">
          {% bootstrap_button button_type="submit" content="Удалить" %}
        </a>
      </li>
    {% endfor %}
  </ul>
  <a href="{% url 'dds_list' %}">
    {% bootstrap_button button_type="submit" content="На главную" %}
  </a>
{% endblock %}